In [239]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import math
import matplotlib.pyplot as plt
import matplotlib as mpl
import PublicFunctions as pf

# Read

The data was downloaded from Zillow Research (https://www.zillow.com/research/data/ --> Inventory --> New Listings (Raw, All Homes, Montly View)) as the .csv file given here. Column headers represent the last day of the month, which we simply refer to as the month, i.e., column '2018-1-31' is 'January 2018.'

In [240]:
df = pd.read_csv('Metro_new_listings_uc_sfrcondo_month.csv')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,102001,0,United States,country,NaN,323256.0,376081.0,476114.0,509438.0,538099.0,...,240504.0,169573.0,235076.0,247763.0,333606.0,332116.0,367751.0,376743.0,335943.0,349327.0
1,394913,1,"New York, NY",msa,NY,14880.0,22651.0,22492.0,25714.0,25627.0,...,9711.0,5829.0,9754.0,10439.0,14598.0,13820.0,14360.0,13639.0,11370.0,11234.0
2,753899,2,"Los Angeles, CA",msa,CA,8136.0,9261.0,10164.0,10597.0,11556.0,...,4806.0,3048.0,4699.0,4988.0,6370.0,6156.0,6831.0,6949.0,6658.0,6434.0
3,394463,3,"Chicago, IL",msa,IL,8645.0,11908.0,17472.0,16696.0,16869.0,...,6271.0,3899.0,6043.0,7047.0,9530.0,9649.0,10865.0,11071.0,9597.0,9942.0
4,394514,4,"Dallas, TX",msa,TX,7389.0,7894.0,10535.0,11797.0,11995.0,...,5459.0,3983.0,5188.0,5291.0,8159.0,8879.0,9467.0,10007.0,8650.0,8211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,394968,934,"Pecos, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,6.0,9.0,5.0
921,394743,936,"Ketchikan, AK",msa,AK,9.0,11.0,17.0,11.0,17.0,...,7.0,8.0,11.0,15.0,25.0,15.0,11.0,11.0,9.0,9.0
922,753874,937,"Craig, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.0,14.0,16.0,30.0,27.0,36.0,24.0,34.0
923,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,6.0,14.0,10.0,20.0,19.0,12.0,11.0
924,394767,939,"Lamesa, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,7.0,6.0,10.0,13.0,10.0,9.0

# Isolate the data for the team

In [241]:
team = 29
row = df.iloc[team]
row

RegionID          394355
SizeRank              29
RegionName    Austin, TX
RegionType           msa
StateName             TX
                 ...
2023-04-30        3367.0
2023-05-31        3533.0
2023-06-30        3630.0
2023-07-31        2905.0
2023-08-31        2809.0
Name: 29, Length: 73, dtype: object

Calculate the monthly averages for years 1 thru 4.

In [242]:
year = "2018"
y1columns = [column_name for column_name in row.index if year in column_name]
y1avg = row[y1columns].mean()
y1avg

2913.75

In [243]:
year = "2019"
y2columns = [column_name for column_name in row.index if year in column_name]
y2avg = row[y2columns].mean()
y2avg

2947.9166666666665

In [244]:
year = "2020"
y3columns = [column_name for column_name in row.index if year in column_name]
y3avg = row[y3columns].mean()
y3avg

2942.75

In [245]:
year = "2021"
y4columns = [column_name for column_name in row.index if year in column_name]
y4avg = row[y4columns].mean()
y4avg

3394.0833333333335

In [246]:
year = "2022"
y5columns = [column_name for column_name in row.index if year in column_name]
y5avg = row[y5columns].mean()
y5avg

3238.5

# Forecast Using the Decomposition Method

Calculate the seasonal index for each season each year, and then the average (over the two years) for each season.

In [247]:
values = [np.random.randint(1,101,12)/50,
         np.random.randint(1,101,12)/50,
         np.random.randint(1,101,12)/50,
         np.random.randint(1,101,12)/50,
         np.random.randint(1,101,12)/50]#Must change this, it is curently just random
SI = pd.DataFrame(values, columns = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], index = ['Year 1', 'Year 2', 'Year 3', 'Year 4', 'Year 5'])
SI.loc['Average'] = SI.mean()
SI

,January,February,March,April,May,June,July,August,September,October,November,December
Year 1,1.620,0.500,0.640,1.500,0.880,0.140,0.960,0.640,1.160,0.740,1.540,0.380
Year 2,0.440,0.420,1.540,0.860,0.860,0.100,1.060,1.060,0.320,1.480,1.620,0.940
Year 3,0.360,1.820,0.540,1.620,1.120,0.960,0.720,1.540,0.840,1.280,1.200,1.440
Year 4,0.420,0.200,1.360,0.660,0.280,0.820,1.300,0.300,1.680,0.520,0.180,0.040
Year 5,1.400,1.480,0.460,1.800,1.780,0.320,1.680,0.720,0.640,1.360,0.220,0.260
Average,0.848,0.884,0.908,1.288,0.984,0.468,1.144,0.852,0.928,1.076,0.952,0.612

Deseasonalize the data.

In [248]:
y_dm = np.array(row[5:65])
y_dm[0] = y_dm[0]/SI.loc['Average']['January']
y_dm[1] = y_dm[1]/SI.loc['Average']['February']
y_dm[2] = y_dm[2]/SI.loc['Average']['March']
y_dm[3] = y_dm[3]/SI.loc['Average']['April']
y_dm[4] = y_dm[4]/SI.loc['Average']['May']
y_dm[5] = y_dm[5]/SI.loc['Average']['June']
y_dm[6] = y_dm[6]/SI.loc['Average']['July']
y_dm[7] = y_dm[7]/SI.loc['Average']['August']
y_dm[8] = y_dm[8]/SI.loc['Average']['September']
y_dm[9] = y_dm[9]/SI.loc['Average']['October']
y_dm[10] = y_dm[10]/SI.loc['Average']['November']
y_dm[11] = y_dm[11]/SI.loc['Average']['December']
y_dm[12] = y_dm[12]/SI.loc['Average']['January']
y_dm[13] = y_dm[13]/SI.loc['Average']['February']
y_dm[14] = y_dm[14]/SI.loc['Average']['March']
y_dm[15] = y_dm[15]/SI.loc['Average']['April']
y_dm[16] = y_dm[16]/SI.loc['Average']['May']
y_dm[17] = y_dm[17]/SI.loc['Average']['June']
y_dm[18] = y_dm[18]/SI.loc['Average']['July']
y_dm[19] = y_dm[19]/SI.loc['Average']['August']
y_dm[20] = y_dm[20]/SI.loc['Average']['September']
y_dm[21] = y_dm[21]/SI.loc['Average']['October']
y_dm[22] = y_dm[22]/SI.loc['Average']['November']
y_dm[23] = y_dm[23]/SI.loc['Average']['December']
y_dm[24] = y_dm[24]/SI.loc['Average']['January']
y_dm[25] = y_dm[25]/SI.loc['Average']['February']
y_dm[26] = y_dm[26]/SI.loc['Average']['March']
y_dm[27] = y_dm[27]/SI.loc['Average']['April']
y_dm[28] = y_dm[28]/SI.loc['Average']['May']
y_dm[29] = y_dm[29]/SI.loc['Average']['June']
y_dm[30] = y_dm[30]/SI.loc['Average']['July']
y_dm[31] = y_dm[31]/SI.loc['Average']['August']
y_dm[32] = y_dm[32]/SI.loc['Average']['September']
y_dm[33] = y_dm[33]/SI.loc['Average']['October']
y_dm[34] = y_dm[34]/SI.loc['Average']['November']
y_dm[35] = y_dm[35]/SI.loc['Average']['December']
y_dm[36] = y_dm[36]/SI.loc['Average']['January']
y_dm[37] = y_dm[37]/SI.loc['Average']['February']
y_dm[38] = y_dm[38]/SI.loc['Average']['March']
y_dm[39] = y_dm[39]/SI.loc['Average']['April']
y_dm[40] = y_dm[40]/SI.loc['Average']['May']
y_dm[41] = y_dm[41]/SI.loc['Average']['June']
y_dm[42] = y_dm[42]/SI.loc['Average']['July']
y_dm[43] = y_dm[43]/SI.loc['Average']['August']
y_dm[44] = y_dm[44]/SI.loc['Average']['September']
y_dm[45] = y_dm[45]/SI.loc['Average']['October']
y_dm[46] = y_dm[46]/SI.loc['Average']['November']
y_dm[47] = y_dm[47]/SI.loc['Average']['December']
y_dm[48] = y_dm[48]/SI.loc['Average']['January']
y_dm[49] = y_dm[49]/SI.loc['Average']['February']
y_dm[50] = y_dm[50]/SI.loc['Average']['March']
y_dm[51] = y_dm[51]/SI.loc['Average']['April']
y_dm[52] = y_dm[52]/SI.loc['Average']['May']
y_dm[53] = y_dm[53]/SI.loc['Average']['June']
y_dm[54] = y_dm[54]/SI.loc['Average']['July']
y_dm[55] = y_dm[55]/SI.loc['Average']['August']
y_dm[56] = y_dm[56]/SI.loc['Average']['September']
y_dm[57] = y_dm[57]/SI.loc['Average']['October']
y_dm[58] = y_dm[58]/SI.loc['Average']['November']
y_dm[59] = y_dm[59]/SI.loc['Average']['December']
print("y = ",y_dm)

y =  [2417.452830188679 3196.8325791855204 3935.022026431718 3090.838509316771
 4144.30894308943 7912.393162393163 2919.58041958042 3666.666666666667
 2490.301724137931 2375.46468401487 2136.5546218487398 2269.6078431372553
 2791.2735849056603 2941.176470588235 3867.84140969163 2924.689440993789
 4220.528455284552 7779.91452991453 2958.916083916084 3573.9436619718313
 2796.336206896552 2561.338289962825 2175.4201680672268 2423.2026143790854
 2995.283018867924 3021.493212669683 3882.15859030837 2323.7577639751557
 3565.040650406503 7557.6923076923085 3393.3566433566434 3813.380281690141
 3113.146551724138 2614.3122676579924 2167.016806722689 2684.6405228758176
 2702.830188679245 2451.3574660633485 3990.088105726872 3271.739130434783
 4028.4552845528447 9500.0 4157.342657342658 4649.0610328638495
 4008.6206896551726 3086.4312267657992 2653.361344537815 2841.503267973857
 2431.6037735849054 2744.3438914027147 3963.656387665198 3190.993788819876
 4741.869918699186 11532.051282051283 3883.741258741259 3929.5774647887324
 3468.7500000000005 2309.4795539033457 1907.563025210084 2109.477124183007]

Perform simple linear regression to extract trend.

In [249]:
model_dm = LinearRegression()
x = np.arange(1, 61).reshape((-1, 1))
model_dm.fit(x,y_dm)
r_sq_dm = model_dm.score(x, y_dm)
print('Coefficient of determination:', r_sq_dm)
intercept_dm = model_dm.intercept_
print('Intercept:', intercept_dm)
slope_dm = model_dm.coef_[0]
print('Slope:', slope_dm)

Coefficient of determination: 0.007083687372791525
Intercept: 3340.830276357102
Slope: 8.636592801491936

Extend the trend to year 6.

In [250]:
#The forecast calculation is explicitly stated here but you can use sklearn's Predict function, as well (https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).
forecast_dm = []
for t in range(61,73):
    forecast_dm.append(intercept_dm + t*slope_dm)
forecast_dm

[3867.66243724811,
 3876.299030049602,
 3884.9356228510937,
 3893.572215652586,
 3902.208808454078,
 3910.8454012555694,
 3919.4819940570615,
 3928.1185868585535,
 3936.7551796600455,
 3945.3917724615376,
 3954.028365263029,
 3962.664958064521]

Seasonalize year 6 forecasts.

In [251]:
forecast_dm[0] = forecast_dm[0]*SI.loc['Average']['January']
forecast_dm[1] = forecast_dm[1]*SI.loc['Average']['February']
forecast_dm[2] = forecast_dm[2]*SI.loc['Average']['March']
forecast_dm[3] = forecast_dm[3]*SI.loc['Average']['April']
forecast_dm[4] = forecast_dm[4]*SI.loc['Average']['May']
forecast_dm[5] = forecast_dm[5]*SI.loc['Average']['June']
forecast_dm[6] = forecast_dm[6]*SI.loc['Average']['July']
forecast_dm[7] = forecast_dm[7]*SI.loc['Average']['August']
forecast_dm[8] = forecast_dm[8]*SI.loc['Average']['September']
forecast_dm[9] = forecast_dm[9]*SI.loc['Average']['October']
forecast_dm[10] = forecast_dm[10]*SI.loc['Average']['November']
forecast_dm[11] = forecast_dm[11]*SI.loc['Average']['December']
forecast_dm

[3279.7777467863975,
 3426.6483425638485,
 3527.5215455487933,
 5014.92101376053,
 3839.7734675188135,
 1830.2756477876064,
 4483.8874012012775,
 3346.7570360034874,
 3653.308806724522,
 4245.2415471686145,
 3764.2350037304036,
 2425.1509543354864]

# Forecast Using Multiple Linear Regression

Populate independent variables

In [252]:
x = np.arange(1, 61).reshape((-1, 1))#Must change this to add the dummy binary variables.
x

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24],
       [25],
       [26],
       [27],
       [28],
       [29],
       [30],
       [31],
       [32],
       [33],
       [34],
       [35],
       [36],
       [37],
       [38],
       [39],
       [40],
       [41],
       [42],
       [43],
       [44],
       [45],
       [46],
       [47],
       [48],
       [49],
       [50],
       [51],
       [52],
       [53],
       [54],
       [55],
       [56],
       [57],
       [58],
       [59],
       [60]])

Run multiple linear regression.

In [253]:
model_mlr = LinearRegression()
model_mlr.fit(x,y_dm) #Must change this. Basically, you need to extend the simple linear regression model to take multiple independent variables. You are referred to https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html for the documentation of the package we use for this purpose. Make sure you use the correct y values, too.

LinearRegression()

Calculate the forecasts.

In [254]:
forecast_mlr = []
#Must add this. Decide first whether you want to calculate the forecasts explicitly or via sklearn's Predict function (https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html) and then execute.
forecast_mlr

[]

# Calculate Forecast Accuracy

In [255]:
actual_Year6 = []
for t in range(65,73):
    actual_Year6.append(row[t])
actual_Year6

[2102.0, 2135.0, 3511.0, 3367.0, 3533.0, 3630.0, 2905.0, 2809.0]

In [256]:
deviation_dm = []
deviation_mlr = []
for t in range(8):
    deviation_dm.append(np.random.normal(0,1,1)) #Must change this, it is curently just random
    deviation_mlr.append(np.random.normal(0,1,1)) #Must change this, it is curently just random
MAD_dm = pf.CalculateMeanAbsoluteDeviation(deviation_dm)
MAD_mlr = pf.CalculateMeanAbsoluteDeviation(deviation_mlr)
print("MAD_DM:",MAD_dm)
print("MAD_MLR:",MAD_mlr)

MAD_DM: 0.6899379002750634
MAD_MLR: 0.9905805950214466